<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="DLCupEntities" connectionString="metadata=res://*/DB.csdl|res://*/DB.ssdl|res://*/DB.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.3.23;initial catalog=DLCup;user id=dlcup;password=dlcup2012;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
  </startup>
  <appSettings>
    <add key="CupId" value="2"/>
  </appSettings>
</configuration>
