<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DLCup" connectionString="Data Source=172.16.3.23;User ID=dlcup;Password=dlcup2012;Initial Catalog=DLCup"/>
  </connectionStrings>
  <appSettings>
    <add key="CupId" value="2"/>
  </appSettings>
</configuration>
